body {background-color: yellow;}
p{color:blue;}
h3{color green;}
h4{font-family:arial;font-size:20;color:cyan}
table{border-color:blue}
ta {font-size: 12pt;color:magenta}
ul.a {list-style-type: square;} <!--Descendant Selector Element ul followed by class(.a)-->
ul.b {list-style-type: circle;}
ol.c{list-style-type:upper-roman;}
ol.d {list-style-type:lower-alpha;}
#hi{text-color: white;}<!-Id Selector->
body{background-image:url('INDIA.gif');}
h1 {text-align:center;} <!--Type Selector-->
p.date {text-align:right;} <!--Descendant Selector-->
